
@{
    ViewBag.Title = "Home";
}

<style type="text/css">
    .nav-tabs-top 
    {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 250px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .table
    {
        border-bottom:solid 2px #eeeeee;
    }
</style>

<body style="background-image: url('/Images/09a43040-4292-4c73-a487-2be5378d612f.jpg'); background-size: cover;">
    <div class="">
        Home
    </div>
    <div class="nav-tabs-top nav-responsive-xl">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-1">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-2">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-3">Link 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-4">Link 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-5">Link 5</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-top-responsive-link-1">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/15/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>12/05/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>12/25/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/10/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-2">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/15/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>12/05/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>12/25/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/10/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-3">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/15/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>12/05/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>12/25/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/10/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-4">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/15/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>12/05/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>12/25/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/10/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-5">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/15/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>12/05/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>12/25/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/10/2019</td>
                                <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


